.lwtStat0 {background-color: #ADDFFF}
.lwtStat1 {background-color: #F5B8A9}
.lwtStat2 {background-color: #F5CCA9} 
.lwtStat3 {background-color: #F5E1A9} 
.lwtStat4 {background-color: #F5F3A9} 
.lwtStat5 {background-color: #DDFFDD} 
.lwtStat99 {background-color: #F8F8F8;border-bottom: solid 2px #CCFFCC} 
.lwtStat98 {background-color: #F8F8F8;border-bottom: dashed 1px #000000} 
#lwtcursel {border-left: solid black 1px;border-right: solid black 1px;border-top:solid black 1px}